{% extends 'base.html.twig' %}

{% block title %}Modifier Article{% endblock %}

{% block body %}
    <h1>Modifier un Article</h1>
    {{ form_start(form) }}
        <div class="row">
            <div class="col-md-6">
                {{ form_widget(form) }}
                <button type="submit" class="btn btn-success mt-3">Modifier</button>
            </div>
        </div>
    {{ form_end(form) }}
    <a href="{{ path('article_list') }}" class="btn btn-secondary mt-3">Retour à la liste</a>
{% endblock %}